<!DOCTYPE html>
<html>
	<head>
		<title>SimpleBlog</title>
		<link rel = "stylesheet" href = "web/lib/main.css">
	</head>


	<body>
		<header>
	
			<h1>SimpleBlog</h1>
			<i><p>A minimal blog compiler written in C</p></i>
		</header>
		<hr>
			<nav>
				<a href="">HOME</a>	
				<a href="">BLOG</a>
				<a href="">DOWNLOAD</a>
				<a href="">ABOUT</a>
			</nav>
		<hr>


		<div class="container"> 
			<main> 
				<article> 
					<h2>Article Title</h2> 
					<p class="post-meta">Published on xxx</p> 
					<p>Insert text here</p> 
				</article> 
			</main> 

			<aside> 
				<h2>Side Panel</h2> 
				<ul> 
					<li><a href="#">some</a></li> 
					<li><a href="#">elements</a></li> 
					<li><a href="#">can go</a></li> 
					<li><a href="#">here</a></li> 
				</ul> 
			</aside> 
		</div> 
		<footer>
			<p>footer text</p>
		</footer>




	</body>



</html>
