<html>
<!DOCTYPE html>
	<head>
		<title>SimpleBlog</title>
		<link rel = 'stylesheet' href = 'web/lib/main.css'>
	<head>
	<body>
		<header>
			<h1>SimpleBlog</h1>
			<i><p>Insert Slogan Here</p></i>
		</header>
		<hr>
			<nav>
				<a href='web/pages/blog.html'>blog</a>
				<a href='web/pages/downloads.html'>downloads</a>
				<a href='web/pages/about.html'>about</a>
		</nav>
		<hr>
		<h2>Latest News</h2>
			<main>
				<article>
					<a href= ''><h3>Blog Post</h3></a>
					<p><b>PUBLISHED </b>6/16/2005</p>
					<p><b>WRITTEN BY </b>Some Bloke</p>
					<p>This is an example blog</p>
				</article>
				<article>
					<a href= ''><h3></h3></a>
					<p><b>PUBLISHED </b>0/0/0</p>
					<p><b>WRITTEN BY </b></p>
					<p></p>
				</article>
				<article>
					<a href= ''><h3></h3></a>
					<p><b>PUBLISHED </b>0/0/0</p>
					<p><b>WRITTEN BY </b></p>
					<p></p>
				</article>
			</main>
		<footer>
			<p>Made with SimpleBlog</p>		<footer>
	</body>
</html>
