<html>
<!DOCTYPE html>
	<head>
		<title>SimpleBlog</title>
		<link rel = 'stylesheet' href = 'web/lib/main.css'>
		<meta name="twitter:card" content="summary"></meta>
		<meta name="twitter:title" content="SimpleBlog"></meta>
		<meta name="twitter:description" content="Insert Slogan Here"></meta>
	</head>
	<body>
		<header>
			<h1>SimpleBlog</h1>
			<i><p>Insert Slogan Here</p></i>
		</header>
		<hr>
			<nav>
				<a href='index.html'>home</a>
				<a href='web/pages/blog.html'>Blog</a>
				<a href='web/pages/downloads.html'>downloads</a>
				<a href='web/pages/about.html'>about</a>
		</nav>
		<hr>
		<h2>Latest News</h2>
			<main>
				<article>
					<a href= '../template/contents/blog/test_blog_3/index.html'><h3>Blog Post</h3></a>
					<p><b>PUBLISHED </b>6/16/2025</p>
					<p><b>WRITTEN BY </b>Some Bloke</p>
					<p>Example Summary</p>
				</article>
				<article>
					<a href= '../template/contents/blog/test_blog_2/index.html'><h3>Blog Post</h3></a>
					<p><b>PUBLISHED </b>6/16/2025</p>
					<p><b>WRITTEN BY </b>Some Bloke</p>
					<p>This is an example blog</p>
				</article>
				<article>
					<a href= '../template/contents/blog/test_blog_1/index.html'><h3>Blog Post</h3></a>
					<p><b>PUBLISHED </b>6/16/2025</p>
					<p><b>WRITTEN BY </b>Some Bloke</p>
					<p>This is an example blog</p>
				</article>
			</main>
		<footer>
			<p>Made with SimpleBlog</p>
		<footer>
	</body>
</html>
